.App {
  text-align: center;
  background-color: rgb(49, 49, 75);
  height: 800px;
}
.loginPage {
  width: 100%;
  padding-top: 180px;
}
.loginForm {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.loginFormInput1 {
  width: 40%;
  height: 35px;
}
.loginFormInput2 {
  width: 40%;
  height: 35px;
  margin-top: 70px;
}
.loginFormButton {
  width: 40%;
  height: 35px;
  margin-top: 70px;
}
.homePageHeader {
  padding: 60px 0px 0px 60px;
  display: flex;
}
.homePageHeader div {
  width: 30%;
  background-color: yellow;
  margin-right: 20px;
  height: 200px;
}
.listItem {
  width: 31%;
  padding: 40px 0px 0px 20px;
}
.listItem li {
  background-color: green;
  height: 100px;
  margin-bottom: 20px;
}
.bottomPart {
  display: flex;
}
.desc {
  width: 57%;
  height: 340px;
  background-color: darksalmon;
  margin: 50px 0px 0px 40px;
}
.logOut {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: lightseagreen;
  border: 0px;
  height: 30px;
  width: 80px;
  font-size: medium;
  font-weight: bold;
}
.errorMessage {
  color: red;
  font-size: 30px;
}
.clearSelection {
  position: absolute;
  right: 120px;
  top: 10px;
  background-color: lightseagreen;
  border: 0px;
  height: 30px;
  width: 120px;
  font-size: small;
  font-weight: bold;
}
